@import "tailwindcss";
.sidebar-item {
  @apply flex items-center px-4 py-2 text-sm gap-3 transition-colors cursor-pointer rounded-lg;
}

.custom-switch input {
  @apply sr-only;
}
.custom-switch .slider {
  @apply w-10 h-5 bg-gray-600 rounded-full relative before:absolute before:content-[''] before:w-4 before:h-4 before:bg-white before:rounded-full before:top-0.5 before:left-0.5 transition-all;
}
.custom-switch input:checked + .slider::before {
  transform: translateX(20px);
}
