@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Orbitron', sans-serif;
}
footer p,ul{
   font-family: 'Poppins', sans-serif;
}
/* e.g. in src/index.css or global styles */
.glow-pink {
  box-shadow: 0 0 10px rgba(255, 0, 150, 0.5), 0 0 20px rgba(255, 0, 150, 0.4);
}
.grid{
  font-family: 'Poppins', sans-serif;
}
.py-20 p{
font-family: 'Poppins', sans-serif;
}
.max-w-3xl,.text-xl{
  font-family: 'Poppins', sans-serif;
}
.font-bold{
  font-family: 'Orbitron', sans-serif;
}
.min-h-screen{
  font-family: 'Poppins', sans-serif;
}


/* Custom Scrollbar for Sidebar */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}
